page-mood-details {

  .card {
    background-color: #FFFFFF;
  }

  .detail-img {
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 75px;
    }
  }

  ion-card {
    text-align: center;
  }

}
