/*

    Mood Music
    Styling for the app

*/


/*
    General Styles
*/

hr {
  margin: 20px 0px;
}


/*
    Header
    Show the Mood Music logo.
*/

.header-logo {
  width: 100%;
  padding: 40px;
}


/*
    Background
    Views with background
*/

.bar-footer-inset {
  padding: 0 30px;
}

.bar-footer-transparent {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0;
  background-position: bottom;
}

.background-stable {
  background: #FFFFFF;
}

.background-stable h4 {
  color: #30C7F4;
}

.background-calm {
  background: #30C7F4;
}

.background-calm h4 {
  color: #FFFFFF;
}

.pre-login-background {
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../img/bg-login.jpg');
}

/*
    Dashboard
*/

.dashboard{
  background-color: #FFFFFF;
}

/*
    Player
*/

#gradient {
  width:100%;
}

.top-left-icon {
  margin-left: 10px;
  margin-top: 5px;
  color: white
}

#song {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
  text-align: center;
}

#song #title,
#song #artist {
  display: block;
  font-size: 30pt;
  color: white;
  height: 45px;
}

#song #title {
  font-weight: 300;
}

#controls {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
}

#controls .music-controls-forward-icon,
.music-controls-backward-icon {
  color: white;
  font-size: 50px;
  vertical-align: super;
}

#controls .music-controls-play-icon {
  color: white;
  font-size: 90px;
}

#controls .music-controls-play-button {
  border-radius: 50%;
  border: none;
  width: 133px;
  margin-left: 15px;
  margin-right: 15px;
  background-color:rgba(0, 0, 0, 0.15);
}

#progress {
    display: block;
    position: absolute;
    top: 55%;
    width: 100%;
}

/*#progress input[type=range] {*/
    /*removes default webkit styles*/
    /*-webkit-appearance: none;*/
    /*required for proper track sizing in FF*/
    /*color: #606060;*/
    /*width: 100%;*/
/*}*/
/*#progress input[type="range"]::-moz-range-progress {
      background: red;
}
#progress input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}
#progress input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-top: -4px;
}
#progress input[type=range]:focus {
    outline: none;
}*/

#likert {
    width: 100%;
}

#likert #current-mood,
#likert #helpfulness {
  display: block;
  width: 100%;
  font-size: 20pt;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}

#likert #current-mood {
  color: white;
}

#likert #helpfulness {
  color: #525252;
}

/*#likert input[type=range] {
    removes default webkit styles
    -webkit-appearance: none;
    required for proper track sizing in FF
    color: #606060;
    width: 100%;
}
#likert input[type="range"]::-moz-range-progress {
      background: red;
}
#likert input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}
#likert input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-top: -9px;
}
#likert input[type=range]:focus {
    outline: none;
}*/

/*
    Input Fields
*/

.input-group {
  margin: 0px auto;
}

.input-alt {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
}

.input-alt[placeholder] {
  padding: 20px;
  color: #FFFFFF !important;
}

.input-alt::placeholder {
  color: #FFFFFF;
}


/*
    Button
    Style alternate buttons
*/

.button-facebook {
  color: #FFFFFF;
  background-color: #3B5998;
}

.button-google {
  color: #FFFFFF;
  background-color: #DD4B39;
}

.button-active {
  color: #FFFFFF;
}

.change-my-mood{
  padding: 25px;
}

.button-padding {
  padding: 25px;
}


/*
    Tile
    Show an image with some text.
    The image will be rounded by default.
*/

.tile-holder{

}

.tile {
  margin: 20px 0px;
  display: inline-block;
  width: 150px;
}

.tile img {
  border-radius: 50px;
}

/*
    Introduction
    First time login styles
*/

.intro{
  background-color: #11C1F3;
  padding: 30px 0px;
  text-align: center;
}

.intro h2{
  color: #FFFFFF;
}

.intro h4{
  color: #FFFFFF;
}

.intro p{
  color: #FFFFFF;
}

.genre{
  display: inline-block;
  margin: 7px 0px;
}

/*
    Checkbox
    Check a box by an image
*/

.checkbox{
  padding: 0px !important;
  margin: 7px;
  border: 3px solid transparent;
}

.selected{
  border: 3px solid #FFFFFF;
}


/*
    Cards
*/

.card-transparent {
  background-color: rgba(255, 255, 255, 0.2);
}

.item-transparent {
  background-color: rgba(0, 0, 0, 0.2);
}


/*
    Helper Classes
    Classes that assist the styling.
*/

/* .wide-as-needed will assist in side-way scrolling. */

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.text-light {
  color: #FFFFFF;
}

.img-circle{
  border-radius: 50px;
}
