<ion-view view-title="Dashboard">
  <ion-content class="dashboard">
    <div class="change-my-mood">
      <button class="button button-block button-calm inset" ng-click="switchMood()">Change My Mood </button>
    </div>
    <div class="recent-songs">
      <h3>Recent Songs</h3>
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="tile" ng-repeat="song in recentSongs">
          <div class="text-center">
            <img src="{{ song.img }}" class="img-circle">
            <p>{{ song.title }}</p>
            <h6>{{ song.artist }}</h6>
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="recent-moods">
      <h3>Recent Moods</h3>
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="tile" ng-repeat="mood in recentMoods">
          <div class="text-center">
            <img src="{{ mood.img }}" class="img-circle">
            <h6>{{ mood.mood }}</h6>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
