<ion-view hide-nav-bar="true" scroll="true">
  <ion-content class="intro">
    <h2>Music</h2>
    <h4>Please select your favourite music.</h4>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
    <div class="checkbox">
      <img src="http://placehold.it/100x100" class="img-circle">
      <p>Genre</p>
    </div>
  </ion-content>
</ion-view>
