<ion-view view-title="Music">
  <ion-content class="intro">
    <h4>What kind of music do you skip?</h4>
    <ion-slide-box>
      <ion-slide>
        <div class="checkbox-container">
          <div class="genre" ng-repeat="genre in genres">
            <img src="http://placehold.it/85x85" class="checkbox img-circle" ng-click="toggleDislikes()" ng-class="{ selected: isActive }">
            <p>{{ genre.name }}</p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="checkbox-container">
          <div class="genre" ng-repeat="genre in genres">
            <img src="http://placehold.it/85x85" class="checkbox img-circle" ng-click="toggleDislikes()" ng-class="{ selected: isActive }">
            <p>{{ genre.name }}</p>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <button class="button button-mood margin" ng-click="go('tab.dash')">Done</button>
  </ion-content>
</ion-view>
