<ion-view hide-nav-bar="true">
  <ion-content class="pre-login-background" style="background-size: auto {{ windowHeight }}" scroll="false">

    <img ng-src="img/mood.png" class="header-logo" alt="Mood Music Logo" />

    <div class="card card-transparent">
      <div class="item">
        <button class="button button-block button-facebook width-75">
            <i class="icon ion-social-facebook"></i> Log in Facebook
          </button>

        <button class="button button-block button-google width-75">
            <i class="icon ion-social-googleplus"></i> Log in Google+
          </button>

        <hr>
        <h2 class="text-center text-light">Or</h2>
        <hr>
        <div class="input-group">
          <input type="text" ng-model="data.username" placeholder="Username" class="input-alt" required/>
          <input type="password" ng-model="data.password" placeholder="Password" class="input-alt" required/>
        </div>
      </div>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-footer-transparent bar-footer-inset hide-on-keyboard-open">
    <div class="col-50 background-stable" ng-click="go('signup')">
      <div class="text-center">
        <h4>Register</h4>
      </div>
    </div>
    <div class="col-50 background-calm" ng-click="login()">
      <div class="text-center">
        <h4>Login</h4>
      </div>
    </div>
  </div>

</ion-view>
