<ion-view view-title="Login">
  <ion-content>
    <div class="input-container">
      <input type="text" ng-model="data.username" placeholder="Username" class="input-alt" required/>
      <input type="password" ng-model="data.password" placeholder="Password" class="input-alt" required/>
      <div class="button-container">
        <button type="button" name="login" ng-click="login()" class="button button-mood margin">Login</button>
      </div>
      <a ng-click="go('login', false)">Forgot Password?</a>
    </div>
  </ion-content>
</ion-view>
