<ion-view hide-nav-bar="true">
  <ion-content class="pre-login-background" style="background-size: auto {{ windowHeight }}" scroll="false">

    <img ng-src="img/mood.png" class="header-logo" width="100%" />
    <h2 class="text-center text-light padding">Register</h2>
    <div class="card card-transparent">
      <div class="item item-transparent">
        <div class="input-group">
          <input type="text" ng-model="data.firstname" placeholder="Firstname" class="input-alt">
          <input type="text" ng-model="data.lastname" placeholder="Lastname" class="input-alt">
          <input type="text" ng-model="data.username" placeholder="Username" class="input-alt">
          <input type="email" ng-model="data.email" placeholder="Email" class="input-alt">
          <input type="password" ng-model="data.password" placeholder="Password" class="input-alt">
        </div>
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-footer-transparent bar-footer-large bar-footer-inset hide-on-keyboard-open">
    <div class="col-50 background-calm" ng-click="signup()">
      <div class="text-center">
        <h4>Register</h4>
      </div>
    </div>
    <div class="col-50 background-stable" ng-click="go('login')">
      <div class="text-center">
        <h4>Login</h4>
      </div>
    </div>
  </div>
</ion-view>
