<ion-view view-title="Dashboard">
  <ion-content class="dashboard">
    <div class="button-padding">
      <button class="button button-block button-calm inset" ng-click="switchMood()">Change My Mood </button>
    </div>
    <div class="tile-holder">
      <h3 class="padding">Recent Songs</h3>
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="tile" ng-repeat="song in recentSongs" ng-click="playSong()">
          <div class="text-center">
            <img ng-src="{{ song.img }}" class="img-circle">
            <p>{{ song.title }}</p>
            <h6>{{ song.artist }}</h6>
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="tile-holder">
      <h3 class="padding">Recent Moods</h3>
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="tile" ng-repeat="mood in recentMoods">
          <div class="text-center">
            <img ng-src="{{ mood.img }}" class="img-circle">
            <h6>{{ mood.mood }}</h6>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
