<ion-view view-title="Home">
  <ion-content class="dashboard">
    <div class="button-padding">
      <button class="button button-mood margin" ng-click="switchMood()">Change My Mood </button>
    </div>
    <div class="tile-holder">
      <div class="tile-header">
        <h4>Recent Songs</h4>
        <hr>
      </div>
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="tile" ng-repeat="song in recentSongs">
          <div class="text-center">
            <img ng-src="{{ song.img }}" class="img-circle">
            <p>{{ song.title }}</p>
            <h6>{{ song.artist }}</h6>
          </div>
        </div>
      </ion-scroll>
    </div>
    <div class="tile-holder">
      <div class="tile-header">
        <h4>Recent Moods</h4>
        <hr>
      </div>
      <ion-scroll direction="x" class="wide-as-needed">
        <div class="tile" ng-repeat="mood in recentMoods">
          <div class="text-center">
            <img ng-src="{{ mood.img }}" class="img-circle">
            <h6>{{ mood.mood }}</h6>
          </div>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
