<ion-view view-title="Player">
  <ion-content>
    <div id="gradient" style="width:100%;height:{{ windowHeight }};">
      <div id="controls" style="position:absolute;top:400px;left:50%;">
        <button class"button button-large"><i class="icon ion-skip-backward"></i></button>
        <button class"button button-large"><i class="icon ion-play"></i></button>
        <button class"button button-large"><i class="icon ion-skip-forward"></i></button>
      </div>
    </div>
  </ion-content>
</ion-view>
