<ion-view view-title="Search">
  <ion-content>
      <label class="item item-input-inset">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="q">
      </label>
    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="song in songs | filter: q track by $index">
        <img class="img-circle" src="http://placehold.it/100x100" alt="">
        <h2>{{ song.title }}</h2>
        <h3>{{ song.artist }}</h3>
        <p>{{ song.trackLength }}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
