// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
  font-family: "Avenir Next", "Helvetica-Neue", Arial, sans-serif;
}

/*
    Text
*/
.text-center {
  text-align: center;
}

/*
    Tile
    Show an image with some text.
    The image will be rounded by default.
*/
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  height: 200px;
}

.tile-holder {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 50px;
}

.tile-header {
  text-align: center;
  margin: 0 30px;
}

.tile-header h4 {
  color: #444444;
}
//

.tile-header hr {
  border-color: rgba(255, 255, 255, 0.3);
}

.tile {
  border: 0;
  margin: 20px 0;
  display: inline-block;
  width: 150px;
}

.tile p {
  color: #444444;
}

.tile h6 {
  color: #444444;
}

.tile img {
  border-radius: 50px;
}
/*
    Button
*/
.button-container {
  width: 100%;
  text-align: center;

  button {
    min-width: 65%;
    font-size: 18px !important;
  }
}
/*
    Inputs
*/
.input-group {
  margin: 20px auto;
}

.input-alt {
  width: 75%;
  margin: 10px auto;
  border-radius: 5px;
  color: #444444;
  background-color: #FAFAFA;
}

.input-alt[placeholder] {
  padding: 0 20px;
  color: #444444 !important;
}

.input-alt::placeholder {
  color: #444444;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input + img {
  cursor: pointer;
  padding: 0 !important;
  margin: 7px;
  border: 3px solid transparent;
}

label > input:checked + img {
  border: 3px solid #666677;
}
/*
    Page Container
*/
.page-container {
  padding: 10px 0;
  text-align: center;

  h2 {
    color: #444444;
  }

  h4 {
    color: #444444;
    text-align: center;
  }

  p {
    color: #444444;
  }
}
/*
    Slides
*/
.slide-container {
  margin-top: 5px;
  margin-bottom: 40px;
}

.slide-tile {
  display: inline-block;
  margin: 5px 0;

  img {
    padding: 0 !important;
    margin: 5px;
    border: 3px solid transparent;
    border-radius: 50px;
  }

  p {
    margin: 0 !important;
  }
}

.swiper-pagination-bullet-active {
  background: #444444;
}
/*
    Item
*/
.item {
  background-color: #FFFFFF;
}

.item-divider {
  background-color: transparent;
}
/*
    Thumbnails
*/
ion-thumbnail img {
  border-radius: 50px;
}
/*
    Details
*/
.detail-img {
  text-align: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
}

.card {
  background-color: #FFFFFF;
  text-align: center;

  .list {
    .item-block:last-child {
      border-bottom: none;
    }
  }
}
/*
    Alerts
*/
.alert {
  width: 95%;
  padding: 8px 35px 8px 14px;
  margin: 10px auto;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/*
    Android
    Specific Android styling
*/
.item-md ion-thumbnail img,
.item-md ion-thumbnail ion-img {
  width: 56px;
  height: 56px;
}

.item-md ion-thumbnail {
  min-width: 56px;
  min-height: 56px;
}

.list-md {
  margin: -1px 0 32px;
}

.list-header-md {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
}
/*
    Helper Classes
*/
.img-circle {
  border-radius: 50px;
}

.loading-padding {
  padding: 20px;
}
